<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore: Lisää kirja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Lisää kirja</h1>
	<div>
		<form th:object="${book}" th:action="@{save}" action="#" method="post">
		
		  	<label for="knimi">Nimi</label>
			<input type="text" id="knimi" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<label for="ktekija">Tekijä</label>
			<input type="text" id="ktekija" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="kluokka">Luokka</label>
			<select id="kkategoria" th:field="*{category}">
       			<option th:each="category: ${luokat}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    		</select>
    		<div style="clear: both; display: block; height: 10px;"></div>
		  	
		  	<label for="kisbn">ISBN</label>
			<input type="text" id="kisbn" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
		  	<label for="kvuosi">Vuosi</label>
			<input type="text" id="kvuosi" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
						
			<label for="khinta">Hinta</label>
			<input type="text" id="khinta" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input class="btn btn-success" type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>